doctype html
html(lang='en')
  head
    meta(name='viewport', content='width=device-width, initial-scale=1.0, user-scalable=yes')
    meta(charset='utf-8')
    title Dashboardr
    link(rel='stylesheet', href='style/main.css')
    link(rel='stylesheet', href='style/table.css')
    // Manifest
    link(rel='manifest', href='manifest.json')
    // Chrome for Android theme color
    meta(name='theme-color', content='#90a8b2')
    // Add to homescreen for Chrome on Android
    meta(name='mobile-web-app-capable', content='yes')
    meta(name='application-name', content='PSK')
    link(rel='icon', sizes='192x192', href='images/touch/icon-192x192.png')
    // Add to homescreen for Safari on iOS
    meta(name='apple-mobile-web-app-capable', content='yes')
    meta(name='apple-mobile-web-app-status-bar-style', content='black')
    meta(name='apple-mobile-web-app-title', content='Polymer Starter Kit')
    link(rel='apple-touch-icon', href='images/touch/icon-192x192.png')
    // Tile for Win8
    meta(name='msapplication-TileColor', content='#90a8b2')
    meta(name='msapplication-TileImage', content='images/touch/icon-192x192.png')
  body
    include ./inc/nav.jade
    main
      table#projectsTable
        tr
          th Name
          th Description
          th Categories
          th Created
          th Last Updated
          th Followers
          th Following
          th Actions
    script(src='js/idb-promised.js')
    script(src='js/projects.js')
